
@{
    ViewData["Title"] = "AboutUs";
}
<div class="tour-title not-fixed center-image">

    <img class="w-100 h-100" src="../assets/images/about-us.jpg" alt="">
    <h1 class="white text-center front shadow-text center-text">About Us</h1>
    <img class="curve2 front" src="../assets/svgs/curve.svg" alt="">

</div>
<!-- End section 1-->
<!-- Section 2 about us-->

<section id="section-newsletter">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 order-md-first order-last">
                <img src="../assets/images/teamwork.jpg" class="img-fluid mr-md-3 mr-0 img-border" alt="">
            </div>
            <div class="col-md-5 col-12 text-left my-auto">
                <h3 class="black bold front mb-2 mt-2 ">A well-established<br> travel agency</h3>
                <div class="separator "></div>
                <h5 class="primary-color section-titlemb-3">Why choose our agency</h5>
                <p class=" text-block  mb-md-0 mb-4">
                    Turbino provides the best customer service of all time! Our staff is formed by 
                    the best of the best in the industry. In addition the tours we offer are affortable
                    and cover wide range of places across all continents!
                </p>
            </div>
        </div>
    </div>

</section>

<section id="aboutsection">
    <img class="curve3" src="../assets/svgs/curve2.svg" alt="">


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center  col-12">
                <h3 class="text-center pb-1 black bold">What we have been up to lately</h3>
                <div class="separator text-center svgcenter"></div>
                <h5 class="m-0 pt-1 px-4 mb-4 text-center primary-color">New Destinations coming soon</h5>
                <p class="text-block text-justify px-lg-5 px-1 mb-4 mb-md-5 black">
                    We opt for adding new destinations and tours whenever we can. Our hardworking team
                    is hiving their hearth and soul for accomplishing our goal, which is making your dream 
                    vacation possible and affortable today!
                </p>
                <img src="../assets/images/newdestinations.jpg" class="img-fluid img-border" alt="">

            </div>
        </div>
    </div>

</section>


<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/popper.min.js"></script>

<!-- Aditional scripts -->
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/smooth-scroll.min.js"></script>
<script src="../js/instafeed.min.js"></script>
<script src="js/ofi.js"></script>

<!-- Main scripts -->
<script src="js/main.js"></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="../css/font-awesome-animation.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">
<link rel="stylesheet" href="../css/style.css" type="text/css">
