<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Turbino template</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Seo meta tags for Search Engine Optimization -->
    <meta name="author" content="Turbino template">
    <meta name="description" content="Travel agency template for all types of tour agencies, travel bloggers, boostrap 4 based template">
    <meta name="keywords" content="Turbino, Turbino, travel agency, themeforest tour agency, travel, adventure, destinations,">

    <!-- Bootstrap and Jquery scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>

    <!-- Aditional scripts -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/instafeed.min.js"></script>
    <script src="js/ofi.js"></script>

    <!-- Main scripts -->
    <script src="js/main.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome-animation.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body class="home home2">
    <partial name="_Header" />
    <!-- End section 1-->

    @this.RenderBody();

    <!-- Footer -->
    <partial name="_Footer" />

</body>
</html>
